*__pycache__
*.idea
*.zip
IV/MiNBD/arffToCsv.py
IV/MiNBD/dataset_37_diabetes.arff
IoT/Lista00/
IoT/Lista01/server_memory/
IoT/Lista02/battery_status.json
IoT/Lista03/Lista03-07.zip
IoT/Lista03/configs/App_3_Config.json
IoT/Lista03/configs/App_4_Config.json
IoT/Lista03/configs/App_5_Config.json
IoT/Lista03/server_files/
MSD/
SK/Karol.py
SK/normal.txt
SK/uniform.txt
WdP/Lista02/
WdP/Lista03/
WdP/Lista04/
WdP/Lista05/
WdP/Lista06/Modul/
WdP/Lista07/
WdP/Lista08/
WdP/Lista09/
WdP/Lista10/Przyklady_wyklad_9/
WdP/Lista11/Przyklady_wyklad_10/
WdP/Lista12/Przyklady_wyklad_12/
WdP/Lecture14/
/IV/MiNBD/Projekt/
