<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Filter Configuration</title>
</head>
<body class="bg-black bg-cover height-auto text-slate-300">
    <a href="{{ url_for('home') }}"><button class="absolute top-0 ml-2 mt-2 bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Home</button></a>
    <div>
        <div class="grid justify-center text-6xl mt-6">
            <h1>Filtration Configuration Page</h1>
        </div>

        <div class="grid object-center bg-cover m-auto justify-center mt-16 mb-16">



          <form method="post" action="" class="grid justify-center w-full">

              {% for key in choices %}
              <div class="flex justify-between min-w-[325px]">
                <p style="text-align: left">{{ key }}</p>
                <input type="checkbox" name="{{ key }}" value="{{ key }}">
              </div>
              {% endfor %}

            <button type="submit" class="mt-5 mx-auto bg-[#006913]
            rounded-md py-3 px-3 hover:bg-[#00911b] hover:cursor-pointer">View filtered data</button>

          </form>

        </div>
    </div>
</body>
</html>