<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<!-- <body class="bg-slate-400 bg-cover bg-gradient-to-r from-cyan-500 to-blue-500 height-auto px-6"> -->
<body class="bg-black bg-cover height-auto px-6 text-slate-300">

    <div class="grid justify-center text-6xl mt-6">
        <h1>Welcome!</h1>
    </div>
    <div>
        <div>
            <h3 class="text-2xl mt-6">Connected devices:</h3>
        </div>
        <div class="flex">
            {% if data["configurations"].keys()|length == 0 %}
            <div class="grid justify-center mt-6 w-full">
                <h1><b>No connections yet</b></h1>
            </div>            
            {% endif %}
            {% for key in data["configurations"].keys() %}
            {% if data["configurations"][key]['type'] == 'generator' %}
            <a href="{{ url_for('configure', id_=data['configurations'][key]['App_id']|string) }}">
            {% endif %}
            {% if data["configurations"][key]['type'] == 'actuator' %}
            <a href="{{ url_for('choose_actuator_action', id_=data['configurations'][key]['App_id']|string) }}">
            {% endif %}
<!--             <div class="bg-blue-800 w-64 mt-4 rounded-md ml-6 py-3 px-3">-->
            <div class="bg-gray-800 hover:bg-gray-700 w-64 mt-4 rounded-md ml-6 py-3 px-3">
                <div class="grid justify-center">
                    <p style="text-align: center">{{ data["configurations"][key]["App_id"] }}</p>
                    {% if data["configurations"][key]["is_active"] %}
                    <p style="color: lime; text-align: center">Online </p>
                    {% else %}
                    <p style="color: red; text-align: center">Offline </p>
                    {% endif %}
                </div>
            </div>
            </a>
        {% endfor %}
        </div>
    </div>
<!--    <div class="mt-12 grid justify-center">-->
<!--        <a href="{{ url_for('configure', id_='all') }}">-->
<!--            <button class="bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Change configurations</button>-->
<!--        </a>-->
<!--    </div>-->
    <div class="mt-12 grid justify-center">
        <a href="{{ url_for('configure_aggregation') }}">
            <button class="bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Change aggregation configurations</button>
        </a>
    </div>
    <div class="mt-12 grid justify-center">
        <a href="{{ url_for('configure_filtration1') }}">
            <button class="bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Change filter configurations</button>
        </a>
    </div>
</body>
</html>
