<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Data visualisation</title>
</head>
<body class="bg-black bg-[#0e1012] bg-cover height-auto px-6 text-slate-300">
<a href="http://localhost:5000/">
    <button class="absolute top-0 ml-2 mt-2 bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Home</button>
</a>
  <div class="grid justify-center text-8xl mt-6">
    <h1>Data plot for {{ file_id }}</h1>
  </div>
    <div id='chart' class='chart mt-20'></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
var graphs = {{graphJSON | safe}};
Plotly.plot('chart',graphs,{});
</script>
</html>
