<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Successful Configuration</title>
</head>
<body class="bg-[#0e1012] bg-cover height-auto text-slate-300">
    <a href="{{ url_for('home') }}"><button class="absolute top-0 ml-2 mt-2 bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Home</button></a>
    <div class="grid justify-center text-6xl mt-6">
        <h1>Configuration saved successfully</h1>
    </div>
    <div class="grid justify-center mt-10">
        <a href="{{ url_for('configure', id_='all') }}"><button class="bg-[#006913] rounded-md py-1 px-1 hover:bg-[#00911b]">Add configuration</button></a>
    </div>
</body>
</html>